* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/wallpapersden.com_kame-house-dragon-ball-z_3032x1706.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}

main {
    background-color: rgba(0, 0, 0, 0.4);
}

.tarjetas {
    max-width: 1200px;
    margin: auto;
}

.tarjeta {
    border: 3px solid #a8a8a8;
    border-radius: 10px;
    padding: 15px;
    width: 230px;
    text-align: center;
    background-color: #f9f9f9;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.tarjeta img {
    object-fit:contain;
    max-width: 100%;
    height: 350px;
}

.tarjeta h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: medium;
}

#tarjeta1 {
    background-color: rgb(255, 144, 124);
    border-color: rgb(255, 38, 0);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

#tarjeta2 {
    background-color: rgb(255, 219, 152);
    border-color: rgb(228, 148, 0);
}

#tarjeta3 {
    background-color: rgb(95, 190, 136);
    border-color: rgb(0, 121, 52);
}

#tarjeta4 {
    background-color: rgb(158, 211, 255);
    border-color: rgb(0, 140, 255);
}

#tarjeta5 {
    background-color: rgb(212, 165, 255);
    border-color:rgb(90, 0, 173);
}